body {
   background-color: #ebebeb;
  color: black;
   display: table;
  width: 100%;
  height: 100%;
}
html{
  height: 100%;
}
.main {
  flex: 1 0 auto;
  background: #bdc3c7; 
  text-align: center;
}
.container {
  /* min-height: 500px; */
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 60px;
  padding-bottom: 60px;
}
.banner{
  margin-left: 0px;
  top:100px;
  left: 500px;
  align-self: center;
  position: absolute;
  margin-top: 0px;
  }
  img{
    width: 90%;
    height: 90%;
}
  }
.col {
  width: 400px;
  margin-top:10px;
  margin-bottom: 10px;
  margin-left: 0px;
  margin-right: 0px;
  background-color:#88B04B;
}

.col img {
  width: 100%;

  height: auto;
}

.col h4 {
  color: black;
  padding: 8px 30px;
  line-height: 1.25rem;
}
.test{
            
            width:400px;
            height:400px;
            overflow-x:hidden;
            overflow-y:auto;
        }
.map{
           position:absolute;
           width:600px;
           height:260px;
           border:1px solid black;
           left:520px;
           top:100px;
          
}

        
/* a:link {
  color: black; */
/* } */
