body {
  background-color: #ebebeb;
  color: black;
}

.container {
  /* min-height: 500px; */
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 130px;
}

.col {
  width: 30%;
  margin-bottom: 40px;
  background-color: #00f490;
}

.col img {
  width: 100%;
  height: auto;
}

.col h4 {
  color: black;
  padding: 8px 30px;
  line-height: 1.25rem;
}

a:link {
}
